**/logs/*
**/outputs/*
**/wandb/*

# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pb

# IDE
**/.idea/
**/.vscode/

# RL-Games
**/runs/*
**/logs/*
**/recordings/*

rosbags/plots_full/*
rosbags_04_15/plots_full/*
rosbags_powerloop_baseline_controller_04_20/plots/*